/*
Green Treeline: #478559
Purple baseline: #161748
Pink highlight: #f95d9b
Bluewater lowlight: #39a0ca
*/

:root{
  --background-dark: #161748;
  --background-light:#39a0ca;
  --background-disabled: #175168;
  --primary:#478559; 
  --highlight: #f95d9b;
  --accent: #e29300;
  --reach-dialog: 1;
  --primary-font-color: white;
  --secondary-font-color: #161748;
  --error: red;
}

/* 
:root{
  --background-dark: #cacaca;
  --background-light:#0d0d0d;
  --background-disabled: #8d8d8d;
  --primary:#0d0d0d; 
  --highlight: #51361a;
  --accent: #0d0d0d;
  --reach-dialog: 1;
  --primary-font-color: #000000;
  --secondary-font-color: white;
  --error: grey;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-light);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-disabled);
}

body{
  background-color: var(--background-dark);
  font-family: 'Noto Sans', sans-serif;
  color: var(--primary-font-color);
  margin: 0px auto;
}

.wrapper{
  min-height: calc(100vh - 81px);
}

.navbar{
  display: flex;
  color: var(--secondary-font-color);
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 10px;
}

.navbar-item{
  margin: 0 5px;
  min-width: 115px;
  background-color: var(--background-light);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item:hover,
.navbar-item:focus{
  background-color: var(--highlight);
}

.navbar-item.active{
  background-color: var(--highlight);
}

.navbar a{
  text-decoration: none;
  color: inherit;
}

.close {
  float: right;
  font-size: 21px;
}

.close:hover {
  cursor: pointer;
  color: var(--highlight);
}

.footer{
  /* border-top: 1px solid var(--primary); */
  margin-top: 30px;
  height: 50px;
}

.footer.container{
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.shadow{
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
}

.container-without-border {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  border: 1px solid black;
  border-radius: 5px;
}

.outline{
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.outline-primary, .outline-success {
  border-color: var(--primary);
}

.outline-error {
  border-color: var(--error);
}

.outline-highlight {
  border-color: var(--highlight);
}

.outline-accent {
  border-color: var(--accent);
}

.card-group {
  display: flex;
}

.card {
  background-color: var(--background-light);
  border-radius: 5px;
  margin: 5px auto;
  color: var(--secondary-font-color);
  width: 200px;
  text-align: center;
}

.card:hover,
.card:focus {
  cursor: pointer;
  background-color: var(--highlight);
}

.goals.container, .details.container, 
.settings.container, .info.container,
.margin.container, .errors.container{
  margin: 20px auto;
}

.goals a{
  text-decoration: none;
  color: inherit;
}

a .goal{
  cursor: pointer;
}

.goal{
  cursor: default;
  display: flex;
}

.goal .stats{
  font-size: small;
  margin-top: 16px;
}

.goal h2 {
  margin: 0px;
}

.stats h2{
  margin: 0 0 20px 0px;
  font-weight: 400;
}

.form{
  margin: 10px;
}

.form > div{
  margin-top: 10px;
}

.form-control{
  display: grid;
}

.form-control label{
  font-size: large;
}

.error{
  color: var(--error);
}

.form-control input.error{
  border: 1px solid var(--error);
}

.form-control input, .form-control select{
  border-radius: 5px;
  border: none;
  font-size: large;
  margin-top: 5px;
  padding: 3px 7px;
  background-color: var(--background-dark);
  border: 1px solid var(--primary);
  color: var(--primary-font-color);
}

.form-control .date-input {
  width: calc(100% - 16px);
}

.form-control input::placeholder, .form-control select::placeholder {
  opacity: 0.7;
  color: var(--primary-font-color);
}

.form-control input:focus-visible, .form-control select:focus-visible{
  outline-style: solid;
  outline-width: 2px;
  border: 1px solid var(--highlight);
  outline-color: var(--highlight);
} 

.form-group-inline{
  display: flex;
}

.form-group-inline :not(:last-child),
.progress-actions :not(:last-child){
  margin-right: 10px;
}

.actions{
  margin: 10px 0;
  color: var(--secondary-font-color);
}

.actions > :not(:last-child){
  border-right: 2px solid var(--background-dark);
}

.actions :last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.actions :first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.extended > .action {
  min-width: 94px;
}

.action{
  min-width: 121px;
  background-color: var(--background-light);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action :first-child{
  margin-right: 2px;
}

.action:hover,
.action:focus{
  background-color: var(--highlight);
}

.action.active{
  background-color: var(--highlight);
}

.action.disabled{
  background-color: var(--background-disabled);
  pointer-events: none;
  cursor: default;
}

.progress{
  display: flex;
  cursor: default;
}

.progress-value{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right:20px;
}

.progress-value p{
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.progress-details > *{
  margin: 0;
  padding: 0;
}

.progress-actions{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-size: 25px;
}

.progress-actions :not(:last-child) {
  margin-right: 10px;
}

.progress-actions *:hover,
.progress-actions *:focus, 
.alert .close:hover,
.alert .close:focus{
  cursor: pointer;
  text-decoration: none;
  color: var(--highlight);
}

.progress-bar {
  --progress: 50%;
  --color: var(--primary);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, var(--background-dark) 79%, transparent 80% 100%),
    conic-gradient(var(--color) var(--progress), white 0);    
}

.progress-bar::before {
  content: attr(data-value);
}

.text-center{
  display: flex; 
  justify-content: center;
}

.btn {
  display: inline-block;
  background: var(--background-light);
  color: var(--secondary-font-color);
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  /* font-weight: bold; */
  font-family: inherit;
}

.btn > *{
  display: inline-block;
  vertical-align: middle;
  min-width: 52px;
}

.btn:hover,
.btn:focus {
  outline: none;
  background-color: var(--highlight);
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn.disabled{
  background-color: var(--background-disabled) !important;
  pointer-events: none;
  cursor: default;
}

.btn-primary{
  background-color: var(--primary);
}

a {
  text-decoration: none;
}

.my-1 {
  margin: 10px 0;
}

.my-3 {
  margin: 30px 0;
}

.w-100{
  width: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin infinite 1.5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

.center-vertical {
  margin-top: calc(50vh - 197.875px / 2);
}

[data-reach-dialog-content],
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

[data-reach-dialog-overlay] {
	background: hsla(0, 0%, 0%, 0.33);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

[data-reach-dialog-content] {
	width: 350px;
	background: var(--background-dark);
  border-radius: 10px;
	padding: 2rem;
	outline: none;
}

[data-reach-alert-dialog-label] {
  font-size: 23px;
}

.export-data button{
  margin-left: 250px;
  height: 40px;
  margin-top: 19px;
}

.round-values-setting,
.export-data  {
  margin-left: 10px;
}

.round-values-setting input {
  width: 35px;
  height: 30px;
  margin-top: 19px;
}

.round-values-setting button {
  margin-left: 80px;
  height: 40px;
  margin-top: 19px;
}

.switch-wrapper {
  margin: 0 0 0 auto;
  transform: scale(0.45);
  width: 150px;
  height: 20px;
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 100px;
  background: #39a0ca;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #161748;
  overflow: hidden;
  transition: all 400ms ease-out;
}


#hide-checkbox:checked + .toggle {
  background: #ffffff;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: black;
  transform: translateX(102px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}