/*
Green Treeline: #478559
Purple baseline: #161748
Pink highlight: #f95d9b
Bluewater lowlight: #39a0ca
*/
:root{
  --background-dark: #161748;
  --background-light:#39a0ca;
  --primary:#478559; 
  --highlight: #f95d9b;
}

body{
  background-color: var(--background-dark);
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

.wrapper{
  min-height: calc(100vh - 81px);
}

.navbar{
  display: flex;
  margin: 0 0 30px 0;
  color: var(--background-dark);

  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 1px solid black;
  padding: 10px;
}

.navbar-item{
  margin: 0 10px;
  min-width: 100px;
  background-color: var(--background-light);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item:hover{
  background-color: var(--highlight);
}

.navbar-item.active{
  background-color: var(--highlight);
}

.navbar a{
  text-decoration: none;
  color: inherit;
}

.footer{
  /* border-top: 1px solid var(--primary); */
  margin-top: 30px;
  height: 50px;
}

.footer.container{
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.shadow{
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1);
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 1px solid black;
  border-radius: 5px;
}

.outline{
  padding: 15px;
  margin: 10px;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.goals.container{
  min-height: 167px;
  margin: 20px auto;
}

.goals a{
  text-decoration: none;
  color: inherit;
}

a .goal{
  cursor: pointer;
}

.goal{
  cursor: default;
  /* background-color: var(--background-light);  */
  display: flex;
}

.goal .stats{
  font-size: small;
}

.goal h2{
  margin: 0px;
}

.goal-form{
  margin: 10px;
}

.goal-form > div{
  margin-top: 10px;
}

.form-control{
  display: grid;
}

.form-control label{
  font-size: large;
}

.form-control input, .form-control select{
  border-radius: 5px;
  border: none;
  font-size: large;
  margin-top: 5px;
  padding: 3px 7px;
  background-color: var(--background-dark);
  border: 1px solid var(--primary);
  color: white;
}

.form-control input::placeholder, .form-control select::placeholder {
  opacity: 0.7;
  color: white;
}

.form-control input:focus-visible, .form-control select:focus-visible{
  outline-style: solid;
  outline-width: 2px;
  border: 1px solid var(--highlight);
  outline-color: var(--highlight);
} 

.form-group-inline{
  display: flex;
}

.form-group-inline :not(:last-child){
  margin-right: 10px;
}

.actions{
  margin: 10px 0;
  color: var(--background-dark);
}

.actions > :not(:last-child){
  border-right: 2px solid var(--background-dark);
}

.actions :last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.actions :first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.action{
  min-width: 108px;
  background-color: var(--background-light);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action :first-child{
  margin-right: 2px;
}

.action:hover{
  background-color: var(--highlight);
}

.action.active{
  background-color: var(--highlight);
}

.progress{
  display: flex;
  cursor: default;
}

.progress-value{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right:20px;
}

.progress-value p{
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.progress-details > *{
  margin: 0;
  padding: 0;
}

.progress-delete{
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-size: 25px;
}

.progress-delete:hover{
  color: var(--highlight);
}

.progress-bar {
  --progress: 50%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, var(--background-dark) 79%, transparent 80% 100%),
    conic-gradient(var(--primary) var(--progress), white 0);    
}

.progress-bar::before {
  content: attr(data-value);
}

.text-center{
  display: flex; 
  justify-content: center;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  /* font-weight: bold; */
  font-family: inherit;
}

.btn > *{
  display: inline-block;
  vertical-align: middle;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary{
  background-color: var(--primary);
}

.my-1 {
  margin: 10px 0;
}

.w-100{
  width: 100%;
}